<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="/static/menupage.css" th:href="@{/styles/menupage.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<center>
    <div><br>
        <h2>Witaj <span th:text="${name}"></span>!</h2>
    </div>
    <br>

    <div max-width=400px background-color="white" class="menudiv">
        <h1 class="menuh1">Menu</h1>
        <a href="/myorders">Moje zamówienia</a><br><br>
        <a href="/orders">Wszystkie zamówienia</a><br><br>
        <a href="/order">Dodaj zamówienie</a>
    </div>
</center>

</body>
</html>